{{template "header" .}}
	<div class="wrapper">
  		<h1>About Landon</h1>
	  	<div id="post">
			<p>I write software for a living (if you couldn't guess that already) and live
			and work in London. I originate from Stoke on Trent up in the Midlands of England. 
			I graduated from <a href="http://www.staffs.ac.uk/academic_depts/computing/index.jsp">Staffordshire university</a>
			in 2006 with a Computer Science degree. I have been a code monkey ever since, gaining more
			experience everyday. I have had my ups (creating things is awesome) and my downs 
			(but it can make you want to throw your computer out of the window at times).
			I still have so much to learn it's crazy, but I think that's a good thing.</p>
			
			<p>So far I have worked for an <a href="http://www.jagex.com">online games company</a> in Cambridge,
			a <a href="http://www.intergral.com">server monitoring tools company</a> in Germany and a 
			<a href="http://www.fizzback.com">customer feedback company</a> in London. I started in each when they were
			relatively small and enjoyed helping them to grow into proper companies (one even getting acquired).</p>
			
			<p>I think about things way too much, even the smallest things. I see something, hear something, discuss something
			and I let it go on in my mind over and over. It drives me crazy, but over time I think it has allowed me
			to think about things logically and get ideas for things I think should be created.
			I now want to start putting these things into practice and it starts with this blog.
			It will be a challenge, I am a tinkerer at heart and my mind moves quickly to new things. 
			I joke that my harddrive is the carrier of broken dreams.</p>
			
			<p>I have to learn to focus on one thing at a time. It all starts now!</p>
			
			<p>The application was built using <a href="https://github.com/landonia/simplegoblog">simplegoblog</a> and written using <a href="http://golang.org/">Golang</a>.
			Some of the blog design was borrowed from <a href="http://benogle.com/">Ben Ogle</a>.</p>
		</div>
	</div>
	<div class="about-block">
		<img src="/assets/images/landon.wainwright.png" alt="Landon Wainwright crazy face">
  		I tap away at a keyboard all day like a monkey.
	</div>
	
	<!--
	<ul class="logos">
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.github.com/landonia"><img src="/assets/images/github.png" height="20"></a>
						</div>
					</li>
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.linkedin.com/in/landonwainwright"><img src="/assets/images/linkedin.png" height="20"></a>
						</div>
					</li>
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.twitter.com/landoman"><img src="/assets/images/twitter.png" height="30"></a>
						</div>
					</li>
				</ul>
	-->
{{template "footer" .}}