{{template "header" .}}
	<div class="wrapper">
  		<h1>About Landon</h1>
	  	<div id="post">
			<p>I write software for a living (if you couldn't guess that already).
				I have been a code monkey practically forever, gaining more
			experience everyday. I have had my ups (creating things is awesome) and my downs 
			(but it can make you want to throw your computer out of the window at times).
			I still have so much to learn it's crazy, but I think that's a good thing.</p>
			<p>I run my own consulting company, Landonia, from which I pimp myself out on various contract gigs.
			
			<p>So far I have worked for an <a href="http://www.jagex.com">online games company</a> in Cambridge,
			a <a href="http://www.intergral.com">server monitoring tools company</a> in Germany and a 
			<a href="http://www.fizzback.com">customer feedback company</a> in London. I have also completed quite a few tours of duty
			consulting with Landonia Ltd. My latest gig involves me guiding a team of 5 developers to create a top notch advanced monitoring application. The company itself is in the <a href="http://www.4energy.co.uk">energy industry</a></p>
			
			<p>Personally, I think about stuff way too much, even the smallest things. I see something, hear something, discuss something and I let them go on in my mind over and over. It drives me crazy, but over time I think it has allowed me
			to think about things logically and get ideas for things I think should be created.
			I now want to start putting these things into practice and it starts with this blog.
			It will be a challenge, I am a tinkerer at heart and my mind moves quickly to new things. 
			I joke that my harddrive is the vault of broken dreams.</p>
			
			<p>The application was built using <a href="https://github.com/landonia/simplegoblog">simplegoblog</a> and written using <a href="http://golang.org/">Golang</a>.
			Some of the blog design was borrowed from <a href="http://benogle.com/">Ben Ogle</a>.</p>
		</div>
	</div>
	<div class="about-block">
		<img src="/assets/images/landon.wainwright.png" alt="Landon Wainwright crazy face">
  		I tap away at a keyboard all day like a monkey.
	</div>
	
	<!--
	<ul class="logos">
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.github.com/landonia"><img src="/assets/images/github.png" height="20"></a>
						</div>
					</li>
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.linkedin.com/in/landonwainwright"><img src="/assets/images/linkedin.png" height="20"></a>
						</div>
					</li>
					<li>
						<div class="wraptocenter">
							<span></span>
							<a href="http://www.twitter.com/landoman"><img src="/assets/images/twitter.png" height="30"></a>
						</div>
					</li>
				</ul>
	-->
{{template "footer" .}}