{{define "header"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>landotube.com : {{.Title}}</title>
		<meta name="description" content="{{.Description}}" />
		<meta name="keywords" content="Landon Wainwright, programming, java, actionscript, flex, golang" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  		<!-- The hightlight css-->
		<link rel="stylesheet" href="/assets/js/highlight/styles/sunburst.css" />

		<!-- The highlight JS -->
		<script src="/assets/js/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</head>
	<body>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-63399936-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<div id="header">
			<div class="center">
				<div id="homenav">
					<span></span>
					<span class="homenav-user">[simplegoblog:1]</span> <a href="/"><span class="homenav-location">/home/landotube</span> <span class="homenav-command">$ ..</span></a>
				</div>
			</div>
  		</div>
{{end}}
