{{template "header" .}}
	<div id="content" class="wrapper">
  		<h1>Howdy. I'm Landon.</h1>
  		<p>I'm working at my software consultancy company Landonia Ltd. I also love to create other things when time permits.</p>
	  	<div id="post">
			<h2><a href="/posts">Posts</a></h2>
			<div class="posts">
				{{range .Posts}}
				<p><a href="/posts/{{.SafeURL}}">{{.Title}}</a><span class="date">{{.Created.Format "2006-01-02"}}</span></p>
				{{else}}
				Oh no.. There are no posts.
				{{end}}
			</div>
			<h2><a href="/about">About</a></h2>
			<h2><a href="http://www.linkedin.com/in/landonwainwright">LinkedIn</a></h2>
			<h2><a href="https://github.com/landonia">GitHub</a></h2>
		</div>
	</div>
{{template "footer" .}}