{{template "header" .}}
	<div id="content" class="wrapper">
  		<h1>Hello there. I am Landon.</h1>
  		<p>I hope you find it interesting.</p>
	  	<div id="post">
			<div class="posts">
				{{range .Posts}}
				<p><a href="/posts/{{.SafeURL}}">{{.Title}}</a><span class="date">{{.Created.Format "2006-01-02"}}</span></p>
				{{else}}
				Oh no.. There are no posts.
				{{end}}
			</div>
			<h2><a href="/posts">All Posts</a></h2>
			<h2><a href="/about">All Me</a></h2>
		</div>
	</div>
{{template "footer" .}}