{{template "header" .}}
	<div class="wrapper">
  		<h1>{{.Post.Title}}</h1>
	  	<div id="post">
			<div class="date">{{.Post.Created.Format "2006-01-02"}}</div>
			{{.Post.BodySafe}}
		</div>
	</div>
	<div class="about-block">
		<img src="/assets/images/landon.wainwright.png" alt="Landon Wainwright crazy face">
  		Give me pizza and beer and I will give you insights you never wanted.
	</div>
	<div class="wrapper">
		<div id="comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'landotube';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</div>
{{template "footer" .}}
